PyPDF2
requests
beautifulsoup4
nltk
spacy==3.*
da-core-news-md @ https://github.com/explosion/spacy-models/releases/download/da_core_news_md-3.1.0/da_core_news_md-3.1.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
openai
tqdm
numpy
seaborn
matplotlib
pandas
scikit-learn
pinecone-client
langchain
python-dotenv
pymysql
dotenv
